<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Summary | GUDLFT Registration</title>
</head>

<body>
 {% if club %}
 <h2>Welcome, {{club['email']}} </h2><a href="{{url_for('logout')}}">Logout</a>
 <a href="{{url_for('show_points_table',club=club['name'])}}">Club's points table</a>
 {% endif %}

 {% with messages = get_flashed_messages()%}
 {% if messages %}
 <ul>
  {% for message in messages %}
  <li>{{message}}</li>
  {% endfor %}
 </ul>
 {% endif%}
 {% block content %}{% endblock %}
 {%endwith%}

</body>

</html>